:root {
    color-scheme: light dark;
}

body {
    width: 180px;
    padding: 10px;

    font-family: system-ui;
    text-align: center;
}

.smaller-font {
    font-size: 0.85em;
}

.a-toggle {
    margin-bottom: 5px;
    text-align: left;
}

.tooltip-content {
  display: none;
}
.comments-toggle-wrapper:hover + .tooltip-content {
  display: block;
}




/******* HIDE IRRELEVANT TOGGLES *******/
/* iPhone */
@media only screen and (max-device-width: 768px) {
    .platform-ipad-mac {
        display: none;
    }
}


@media only screen and (min-device-width: 768px) {
    .platform-iphone {
        display: none;
    }
}

a:visited {
    color: blue;
}

.github-link {
    clear: both;
    padding-top: 10px;
}


/* for hoverable dropdown */
.dropbtn {
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 0.9em;
  border: none;
}
#saveButton:hover,
.dropdown .dropbtn:hover {
    background-color: #008CBA;
    color: white
}
.dropbtn:disabled {
  background-color: #ccc;
  color: #888;
}
.dropbtn:disabled:hover {
  background-color: #ccc;
  color: #888;
}

#saveButton {
    background-color: lightgray;
    color: black;
    padding: 5px;
    font-size: 0.9em;
    border: none;
    margin-bottom: 10px;
}

.dropdown {
  position: relative;
  display: block;
  clear: both;
}

.dropdown.youtube .dropdown-content,
.dropdown.instagram .dropdown-content,
.dropdown.facebook .dropdown-content,
.dropdown.linkedin .dropdown-content,
.dropdown.google .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 8px 8px 3px 8px;
  width: 140px;
  font-size: 0.95em;
}

.dropdown-content .a-toggle:hover {background-color: #ddd;}



.colored-font {
    color: darkgray;
}

.shown {
  display: block !important;
}

/*** TOGGLES ***/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-wrapper {
    text-align: left;
}


@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
    .colored-font {
        color: lightgray;
    }
}
