/**************
** FACEBOOK **
**************/

/*** feed ***/
#ssrb_feed_start + div { visibility: hidden; }

/*** stories ***/
/* desktop */
.x78zum5.x1q0g3np.xl56j7k.x1yztbdb.x1y1aw1k { display: none; }

/* mobile */
#screen-root div[data-mcomponent="MContainer"] > div[data-mcomponent="MContainer"]:has(div[aria-label*="story"]) {
    display: none;
}


/*** watch ***/
/* desktop */
a[aria-label^="Watch"] { display: none; }

/* mobile */
#screen-root div[data-mcomponent="MScreen"] div[data-mcomponent="MContainer"] div[data-mcomponent="MContainer"]:nth-child(2) div[role="button"]:nth-child(4) {
    display: none;
}

#screen-root div[data-mcomponent="MScreen"] div[data-mcomponent="MContainer"] div[data-mcomponent="MContainer"]:nth-child(2):has(div[role="button"]:nth-child(4)) {
    background-color: white !important;
    border-bottom: 2px solid #dadde1;
}

/*** gaming ***/
a[aria-label="Gaming"] { display: none; }

/****** RIGHT SIDE BAR ********/
/* hide sponsored content */
a[aria-label="Advertiser"] { display: none; }


/**************
** LINKEDIN **
**************/

/* ads */
section.ad-banner-container {
    display: none;
}

/************
** TWITTER **
************/
/* hide trends by default */
div[data-testid="sidebarColumn"] section[role="region"] {display: none; }

/**************
** INSTAGRAM **
**************/

/* muted stories */
main[role="main"] div[role="menu"] button[role="menuitem"].xbyyjgo { display: none; }

/* suggestions */
div._aak6._aak9 div._aak3 { display: none; }


/******************
** GOOGLE SEARCH **
******************/

#tads {
    display: none;
}

/************
** YOUTUBE **
************/

/* hide recommended videos by default, so that they don't flash on the screen before they are hidden*/
ytd-browse[page-subtype="home"] { visibility: hidden; }
div[tab-identifier="FEwhat_to_watch"] { visibility: hidden; }


/* hide suggested videos popping up on end screen */
.ytp-endscreen-content {
    display: none !important;
}

