/**************
** FACEBOOK **
**************/
/*
/* hide feed by default, so it isn't flashing before Mindshield's CSS is injected */
/*** feed ***/
#ssrb_feed_start + div, div.x1hc1fzr.x1unhpq9.x6o7n8i { visibility: hidden; } #screen-root div > div[data-mcomponent="MContainer"] > div.m.displayed:nth-child(n+6) { display: none; }

/**************
** LINKEDIN **
**************/

/* ads */
section.ad-banner-container {
    display: none;
}

/************
** TWITTER **
************/
/* hide trends by default */
div[data-testid="sidebarColumn"] section[role="region"] {display: none; }

/**************
** INSTAGRAM **
**************/

/* muted stories */
main[role="main"] div[role="menu"] button[role="menuitem"].xbyyjgo { display: none; }

/* suggestions */
div._aak6._aak9 div._aak3 { display: none; }

/* prompt to 'use app' */
div._acc8._abpk:has(button._acan) {
    display: none !important;
}


/******************
** GOOGLE SEARCH **
******************/

#tads {
    display: none;
}

/************
** YOUTUBE **
************/

/* hide recommended videos by default, so that they don't flash on the screen before they are hidden*/
ytd-browse[page-subtype="home"] { visibility: hidden; }
div[tab-identifier="FEwhat_to_watch"] { visibility: hidden; }


/* hide suggested videos popping up on end screen */
.ytp-endscreen-content {
    display: none !important;
}

