/**************
** FACEBOOK **
**************/

/*** feed ***/
#ssrb_feed_start + div { visibility: hidden; }

/*** stories ***/
/* desktop */
.x78zum5.x1q0g3np.xl56j7k.x1yztbdb.x1y1aw1k { display: none; }

/*** watch ***/
/* desktop */
a[aria-label^="Watch"] { display: none; }

/*** gaming ***/
a[aria-label="Gaming"] { display: none; }

/****** RIGHT SIDE BAR ********/
/* hide sponsored content */
a[aria-label="Advertiser"] { display: none; }


/**************
** LINKEDIN **
**************/

/* feed */
#ember33, .scaffold-finite-scroll.scaffold-finite-scroll--infinite  {
    display: none;
}

/* news */
aside[aria-label="LinkedIn News"] .news-module,
aside[aria-label="LinkedIn News"] .mb2 {
    display: none;
}

/* ads */
section.ad-banner-container {
    display: none;
}

/**************
** INSTAGRAM **
**************/

/* stories */
main[role="main"] div._aac4._aac5._aac6 { display: none; }

/* muted stories */
main[role="main"] div[role="menu"] button[aria-label~="Story"].xbyyjgo { display: none; }

/* feed */
main[role="main"] div._aam1._aam2._aam5 div._ab8w._ab94._ab99._ab9f._ab9m._ab9p._abc0._abcm { visibility: hidden; }

/* suggestions */
div._aak6._aak9 div._aak3 { display: none; }

/* explore button */
a[href="/explore/"] {
    display: none;
}


/******************
** GOOGLE SEARCH **
******************/

#tads,
#tads .CnP9N.U3A9Ac.irmCpc {
    background-color: #F2E6C3 !important;
}

#tads {
    display: none;
}

/************
** YOUTUBE **
************/

/***** home page *****/
/** hide videos **/
/* desktop version */
ytd-browse[page-subtype="home"] {
    visibility: hidden;
}
/* mobile version */
div[tab-identifier="FEwhat_to_watch"]{
    visibility: hidden;
}

/** hide shorts **/
/* desktop version */
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Shorts"],
ytd-mini-guide-entry-renderer[aria-label="Shorts"] {
    display: none;
}

/* mobile version */
ytm-pivot-bar-renderer[role="tablist"] ytm-pivot-bar-item-renderer:nth-child(2){
    visibility: hidden;
}

/***** hide related videos when you watch a video *****/
/* desktop version */
#related {
    visibility: hidden;
    display: none;
}

/* mobile version */
ytm-item-section-renderer[section-identifier="related-items"] {
    visibility: hidden;
}

/***** hide comment ********/
#comments {
    visibility: hidden;
}


/* on narrow viewport, hide this element
because the comments will otherwise jump down
the page */
@media screen and (max-width: 1000px) {
    #related {
        display: none;
    }
}

ytd-guide-entry-renderer a[title="Trending"]{
    display: none !important;
}

/* hide suggested videos popping up on end screen */
.ytp-endscreen-content {
    display: none !important;
}

/* hide ads on the search page */
ytm-promoted-sparkles-text-search-renderer,
ytd-promoted-sparkles-text-search-renderer,
ytd-promoted-sparkles-web-renderer,
ytd-carousel-ad-renderer {
    display: none !important;
}



/* hide the ads on a video page */
ytm-promoted-sparkles-web-renderer, ytm-companion-ad-renderer, #player-ads {
    display: none !important;
}

